@model List<Amigos.Application.ViewModels.FriendViewModel>
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Friends</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" style="margin-left: 15px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: bolder;" asp-action="Index"
                       asp-controller="Friends">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: bolder;" asp-action="FriendForm">
                        Add
                        Friend
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: bolder;" asp-action="AllFriends">All Friends</a>
                </li>
            </ul>
            <form asp-action="Search" method="get" class="form-inline my-2 my-lg-0" style="display: flex;">

                <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-info my-2 my-sm-0" type="submit" style="margin-left: 15px;" />
            </form>
        </div>
    </nav>
    <h1 class="text-center">Welcome to your Friends Agenda</h1>

    <div class="my-container" style="width: 660px;">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">BirthDate</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <h3>Friends List 1</h3>
            @using (Html.BeginForm("Index", "Friends"))
            {
                for(int i = 0; i< Model.Count; i++)
                {
                    <tr>
                        <td>
                            @if(Model[i].IsChecked == true){
                                @Html.CheckBoxFor(m=> m[i].IsChecked, true)
                                
                            }else{
                                @Html.CheckBoxFor(m=> m[i].IsChecked, false)
                            }
                        </td>
                        <td>
                            @Model[i].FirstName
                            @Html.HiddenFor(m => m[i].FirstName)
                        </td>
                        <td>
                            @Model[i].LastName
                            @Html.HiddenFor(m => m[i].LastName)
                        </td>
                        <td>
                            @Model[i].Email
                            @Html.HiddenFor(m => m[i].Email)
                        </td>
                        <td>
                            @Model[i].BirthDate
                            @Html.HiddenFor(m => m[i].BirthDate)
                        </td>
                        
                    </tr>
                }
                <input type="submit" value="submit"/>
            }
       

    </div>
</body>

</html>